Whatsapp Buddy.json
{
  "name": "Whatsapp Buddy",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "WhatsappBuddy",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1056,
        -96
      ],
      "id": "2d148250-897f-4ddb-af76-62b9b196a4dd",
      "name": "Webhook",
      "webhookId": "cf529e27-ed95-448b-963d-6f1d29b3e87b"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "={{ $('Webhook').item.json.body.instance }}",
        "remoteJid": "={{ $('Webhook').item.json.body.data.key.remoteJid }}",
        "messageText": "={{ $json.output }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        0,
        -80
      ],
      "id": "ec1be648-7a55-42c3-b289-b85b55a44211",
      "name": "Enviar texto",
      "credentials": {
        "evolutionApi": {
          "id": "Gz2qL6RIOtDizl2P",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f61aa3ad-358a-45a5-9aa2-a97becf069a2",
              "leftValue": "={{ $json.body.data.key.fromMe }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -848,
        -96
      ],
      "id": "51b44086-9ef5-49fd-b7bd-07d6d75ea7c5",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -640,
        -272
      ],
      "id": "206208ca-68c6-412c-b8cd-3aed161cde1a",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=This is user's message :  {{ $json.body.data.message.conversation }}",
        "options": {
          "systemMessage": "You are a helpful assistant , You will reply to user's question in smartest possible way but in one sentence , Dont extend the sentences.Make It more humanic , soft as If a human is talking not an AI ..\nreply in hindi if the user is typing in hindi , if the user is talking in english , reply in english"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -560,
        -80
      ],
      "id": "d23a2389-310a-4fe6-a864-d36cf192e07e",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -688,
        112
      ],
      "id": "84ecb883-544c-4502-a082-394c7d6f532d",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "DwHpWcVBQTKERUYw",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.body.data.key.remoteJid }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -480,
        128
      ],
      "id": "84ba4a2b-c3b7-468e-a5db-abb47f6e3cd7",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "amount": 3
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -208,
        -80
      ],
      "id": "1e2aa738-0e7f-4512-b1d8-fb9cee5bcc50",
      "name": "Wait",
      "webhookId": "816358c8-a799-441b-a908-692dcf5a2974"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Enviar texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "af71b138-4eff-430a-8a29-4ad1ebc982a0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "83a4d6bc174da693a61ca01de3002bd6edb648df9f1b87ed5d7952dbaec76899"
  },
  "id": "8BTdBkGbq0r0GM9p",
  "tags": []
}