Important_Json/Whatsapp Buddy imran.json
{
  "name": "Whatsapp Buddy imran",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "28dba7bb-4de3-4918-8d89-93b4f0857bf9",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1056,
        -96
      ],
      "id": "d875a893-4749-4b25-bcd8-3c85e2d5f5e2",
      "name": "Webhook",
      "webhookId": "28dba7bb-4de3-4918-8d89-93b4f0857bf9"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "={{ $('Webhook').item.json.body.instance }}",
        "remoteJid": "={{ $('Webhook').item.json.body.data.key.remoteJid }}",
        "messageText": "={{ $json.output }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        0,
        -80
      ],
      "id": "9be2ba72-0c3c-44bb-8e05-7665c486b9e9",
      "name": "Enviar texto",
      "credentials": {
        "evolutionApi": {
          "id": "bVVU0zF0bEEMEYaf",
          "name": "Evolution account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f61aa3ad-358a-45a5-9aa2-a97becf069a2",
              "leftValue": "={{ $json.body.data.key.fromMe }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -848,
        -96
      ],
      "id": "c354cb12-a0f9-4757-8b09-bb41d28a0643",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -576,
        -272
      ],
      "id": "f808d61d-63ba-4994-835a-579f84c5b566",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=This is user's message :  {{ $json.body.data.message.conversation }}",
        "options": {
          "systemMessage": "You are a helpful assistant , You will reply to user's question in smartest possible way but in one sentence , Dont extend the sentences.Make It more humanic , soft as If a human is talking not an AI ..\nreply in hindi if the user is typing in hindi , if the user is talking in english , reply in english"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -560,
        -80
      ],
      "id": "8ab6728f-58ec-43ed-b5ea-8e8654f6e3d6",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -688,
        112
      ],
      "id": "2a372a1c-4861-4e2f-ba9b-64b617334150",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "DwHpWcVBQTKERUYw",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.body.data.key.remoteJid }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -480,
        128
      ],
      "id": "40c311de-4fed-4fdb-b418-f457ec158108",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "amount": 3
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -208,
        -80
      ],
      "id": "abe99a73-243d-460b-ad50-5a5b10be1efb",
      "name": "Wait",
      "webhookId": "a229ad63-9663-4921-9541-ff96cf457cf5"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Enviar texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "dbea7caf-28de-4fdf-9ad8-9f1bc2751bfb",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "83a4d6bc174da693a61ca01de3002bd6edb648df9f1b87ed5d7952dbaec76899"
  },
  "id": "hr2EBUX5XUCGou7t",
  "tags": []
}